In [283]:
import pandas as pd

df = pd.read_excel('student.xlsx',header=2)
df.dropna(axis=0,how='all',inplace=True)
df.dropna(axis=1,how='all',inplace=True)
df.loc[:,'分数'] = df['分数'].fillna(0)
df.loc[:,'姓名'] = df['姓名'].fillna(method='ffill')
df.to_excel('new_student2.xlsx',index=True)
df

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   0.0
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0

In [ ]:
x