In [249]:
import pandas as pd

df = pd.read_csv('weather.csv')
df.set_index('ymd',inplace=True)
df.loc[:,'bWendu'] = df['bWendu'].str.replace('℃','').astype(int)
df.loc[:,'yWendu'] = df['yWendu'].str.replace('℃','').astype(int)
df.cov()

C:\Users\HFY\AppData\Local\Temp\ipykernel_13492\3512833054.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'bWendu'] = df['bWendu'].str.replace('℃','').astype(int)
C:\Users\HFY\AppData\Local\Temp\ipykernel_13492\3512833054.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'yWendu'] = df['yWendu'].str.replace('℃','').astype(int)
C:\Users\HFY\AppData\Local\Temp\ipykernel_13492\3512833054.py:7: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

              bWendu      yWendu          aqi   aqiLevel
bWendu    132.124011  125.139075    -0.623491   0.238039
yWendu    125.139075  126.305272   -14.923198  -0.093997
aqi        -0.623491  -14.923198  2633.759280  48.486492
aqiLevel    0.238039   -0.093997    48.486492   1.000823

In [282]:
import pandas as pd

df = pd.read_excel('student.xlsx',header=2)
df.dropna(axis=0,how='all',inplace=True)
df.dropna(axis=1,how='all',inplace=True)
df.loc[:,'分数'] = df['分数'].fillna(0)
df.loc[:,'姓名'] = df['姓名'].fillna(method='ffill')
df.to_excel('new_student.xlsx',index=True)
df

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   0.0
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0